@use '@/shared/styles/mixins.scss' as mixins;

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(228px, 1fr));
  gap: 12px;
  width: 100%;
}

.emptyState {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 2px;
}

.skeleton {
  display: block;
  line-height: 1;
}

.image {
  object-fit: cover;
  cursor: pointer;
}

.imageFallback {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 16px;
  color: var(--light-900);
  background: var(--dark-500);
}

.imageFallbackText {
  text-align: center;
}

.noPosts {
  text-align: center;
}

@include mixins.vp-767 {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.button {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.57);
}
.actionsMenu {
  position: absolute;
  top: 8px;
  right: -10px;
  z-index: 2;
}
