.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 12px;
  width: 100%;
}

.emptyState {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 2px;
}

.skeleton {
  display: block;
  line-height: 1;
}

.image {
  object-fit: cover;
}

.noPosts {
  text-align: center;
}
