.card {
  display: flex;
  gap: 12px;
}

.cardIcon {
  margin-top: 6px;
}

.browserName {
  margin: 0 0 13px 0;
}

.deviceName {
  margin: 0 0 13px 0;
}

.deviceIp {
  margin: 0 0 5px 0;
}

.lastActive {
  margin: 0;
}
