@use '@/shared/styles/mixins.scss' as mixins;

.container {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.number,
.title {
  margin: 0;
}

@include mixins.vp-479 {
  .container {
    align-items: center;
    text-align: center;
  }
}
