@use '@/shared/styles/mixins.scss' as mixins;

.page {
  display: flex;
  justify-content: center;
  min-height: calc(100dvh - 62px - 36px);
}

.container {
  width: min(972px, 100%);
  display: flex;
  flex-direction: column;
}

@include mixins.vp-767 {
  .page {
    min-height: calc(100dvh - 62px - 24px - 60px - env(safe-area-inset-bottom));
  }
}
