.page {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 62px - 36px);
}

@media (max-width: 768px) {
  .page {
    min-height: calc(100dvh - 62px - 24px - 60px - env(safe-area-inset-bottom));
  }
}
