.resendWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}

.title {
  text-align: center;
}

.resendSubTitle {
  max-width: 294px;
  text-align: center;
  margin: 5px 0 5px;
}

.inputField {
  width: 229px;
  margin: 0 0 22px;
}

.resendForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.resendFormWrapper {
  margin: 25px 0 38px;
}

.resendBtn.resendBtn {
  min-width: 0;
}
