.sidebar {
  width: 220px;
  flex: 0 0 auto;
  border-right: 1px solid var(--dark-300);
}

.navigation {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 72px 0 36px 60px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.secondaryList {
  margin-top: 60px;
}

.item {
  display: inline-flex;
  align-items: center;
  width: max-content;
  gap: 12px;
  margin: 0;
  padding: 0 4px;
  border: none;
  border-radius: 2px;

  color: var(--light-100);
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  transition:
    color 0.2s ease,
    box-shadow 0.2s ease;
}

.item:not(.itemDisabled):hover {
  color: var(--accent-100);
}

.item:focus-visible {
  box-shadow: inset 0 0 0 2px var(--accent-500);
}

.item:disabled {
  cursor: default;
}

.itemActive {
  color: var(--accent-500);
}

.itemActive:hover {
  color: var(--accent-100);
}

.itemDisabled {
  color: var(--dark-100);
  cursor: default;
  pointer-events: none;
}

.navigation > .item {
  margin-top: auto;
}

.label {
  white-space: nowrap;
}

.icon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  background-color: currentColor;

  mask-image: var(--icon-url);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;

  -webkit-mask-image: var(--icon-url);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.icon_homeOutline {
  --icon-url: url('/icons/ui/home-outline.svg');
}

.icon_home {
  --icon-url: url('/icons/ui/home.svg');
}

.icon_plusSquareOutline {
  --icon-url: url('/icons/ui/plus-square-outline.svg');
}

.icon_plusSquare {
  --icon-url: url('/icons/ui/plus-square.svg');
}

.icon_personOutline {
  --icon-url: url('/icons/ui/person-outline.svg');
}

.icon_person {
  --icon-url: url('/icons/ui/person.svg');
}

.icon_messageCircleOutline {
  --icon-url: url('/icons/ui/message-circle-outline.svg');
}

.icon_messageCircle {
  --icon-url: url('/icons/ui/message-circle.svg');
}

.icon_searchOutline {
  --icon-url: url('/icons/ui/search-outline.svg');
}

.icon_search {
  --icon-url: url('/icons/ui/search.svg');
}

.icon_trendingUpOutline {
  --icon-url: url('/icons/ui/trending-up-outline.svg');
}

.icon_trendingUp {
  --icon-url: url('/icons/ui/trending-up.svg');
}

.icon_bookmarkOutline {
  --icon-url: url('/icons/ui/bookmark-outline.svg');
}

.icon_bookmark {
  --icon-url: url('/icons/ui/bookmark.svg');
}

.icon_logOutOutline {
  --icon-url: url('/icons/ui/log-out-outline.svg');
}

@media (max-width: 1024px) {
  .sidebar {
    width: 200px;
  }

  .navigation {
    padding-left: 32px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
