.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 100%;
  max-width: 491px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.empty {
  margin: 48px 0 0;
  text-align: center;
}

.loadMore {
  width: 100%;
  height: 1px;
}
