@import '@/shared/styles/variables.scss';

.confirmedChildren {
  margin-bottom: 72px;
}
.confirmedImageWrapper {
  max-width: 432px;
}
.button {
  width: 182px;
}

@media (max-width: $vp-480) {
  .button {
    width: 330px;
  }

  .confirmedImageWrapper {
    margin-bottom: 45px;
  }
}
