.container {
  width: min(970px, calc(100% - 32px));
  height: min(564px, calc(100vh - 32px));
  background-color: var(--dark-300);
  border: 1px solid var(--dark-100);
}

.content {
  flex: 1 1 auto;
  display: flex;
  min-height: 0;
  overflow: hidden;
}

.imageColumn {
  flex: 0 1 490px;
  min-width: 0;
}

.details {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
