.container {
  flex: 1 1 auto;
  min-height: 0;
  padding: 24px 23px 8px 24px;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.loadMore {
  height: 1px;
}
