.slider {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}

.swiper,
.slideContent {
  width: 100%;
  height: 100%;
}

.slideContent {
  display: grid;
  place-items: center;
}

.imageWrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
}

.swiper :global(.swiper-pagination-bullet) {
  background: var(--light-100);
  opacity: 1;
}

.swiper :global(.swiper-pagination-bullet-active) {
  background: var(--accent-500);
}

.swiper :global(.swiper-pagination) {
  bottom: 58px !important;
  left: 50% !important;
  transform: translateX(-50%);
  width: auto !important;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  padding: 6px 10px;
  border-radius: 999px;
  background: color-mix(in srgb, var(--dark-100) 50%, transparent);
}

.swiper :global(.swiper-pagination.swiper-pagination-lock) {
  display: none !important;
  background: transparent !important;
  padding: 0 !important;
}

.nav {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 0;
  border-radius: 4px;
  color: var(--light-100);
  background: var(--dark-500);
  opacity: 0.8;
  transform: translateY(-50%);
  cursor: pointer;

  &:disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.prev {
  left: 11px;
}

.next {
  right: 11px;

  svg {
    transform: rotate(180deg);
  }
}
