@import '@/shared/styles/variables.scss';

.main {
  padding-top: 72px;
}

.title {
  margin-top: 0;
  margin-bottom: 37px;
}

.signInButton {
  margin-bottom: 12px;
}

@media (max-width: $vp-480) {
  .main {
    padding-top: 10px;
  }

  .title {
    margin-bottom: 25px;
    font-size: var(--font-size-l);
  }
}
