@use '@/shared/styles/mixins.scss' as mixins;

.main {
  padding-top: 72px;
}

.title {
  margin-top: 0;
  margin-bottom: 37px;
}

.signInButton {
  margin-bottom: 12px;
}

.recaptchaConfigError {
  margin-top: 12px;
  color: var(--danger-300);
}

@include mixins.vp-479 {
  .main {
    padding-top: 10px;
  }

  .title {
    margin-bottom: 25px;
    font-size: var(--font-size-l);
  }
}
