.container {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-s);
}

.container a {
  color: inherit;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}

.left {
  align-items: flex-start;
  text-align: left;
}

.right {
  align-items: flex-end;
  text-align: right;
}
