.selectForm {
  display: flex;
  gap: 24px;
}

.selectLabel {
  flex: 1;

  .select {
    max-width: 100%;
    width: 100%;
    label[for='_r_a_'] {
      color: var(--light-900);
    }
    label[for='_r_b_'] {
      color: var(--light-900);
    }
  }
}
