@use '@/shared/styles/mixins.scss' as mixins;

.page {
  min-height: calc(100dvh - 62px);
  display: flex;
}

.content {
  flex: 1;
  padding: 36px 60px 0 24px;
}

@include mixins.vp-767 {
  .content {
    padding: 24px 16px calc(24px + 60px + env(safe-area-inset-bottom));
  }
}
