.confirmedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.title {
  margin-bottom: 20px;
}

.confirmedSubTitle {
  margin: 0 0 20px;
}

.confirmedBtnWrap.confirmedBtnWrap {
  width: 184px;
  margin: 33px 0 72px;
}

.confirmedBtn.confirmedBtn {
  width: 100%;
  min-width: 0;
}
