@use '@/shared/styles/mixins.scss' as mixins;

.main {
  margin-top: 16px;
}

.title {
  margin: 0 0 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerBtn:hover {
  color: var(--light-100) !important;
}

.footerBtn,
.footerBtn:link,
.footerBtn:visited {
  color: var(--accent-500);
}

.footerInfo {
  margin: 16px 0 5px;
}
@include mixins.vp-479 {
  .main {
    margin-top: 10px;
  }
}
