.container {
  padding-top: 30px;
}

.title {
  margin: 0 0 6px;
}

.devicesContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &.currentSession {
    margin-bottom: 24px;
  }

  &.allSessions {
    margin-top: 18px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: right;
}

.devicesItem {
  background-color: var(--dark-500);
  border-radius: 2px;
  border: 1px solid var(--dark-300);
  padding: 18px 20px 24px;
  position: relative;
}

.logOutSessionButton {
  display: flex;
  gap: 12px;
  color: var(--light-100);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
