@use '@/shared/styles/mixins.scss' as mixins;

.container {
  width: min(970px, calc(100% - 32px)) !important;
  max-width: none !important;
  height: min(564px, calc(100vh - 32px)) !important;
  max-height: none !important;
  overflow: hidden !important;
  background-color: var(--dark-300) !important;
  border: 1px solid var(--dark-100);
  @include mixins.vp-767 {
    background-color: var(--dark-700) !important;
    border: none;
    width: 100% !important;
  }
}
.header {
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid var(--dark-100);
  @include mixins.vp-767 {
    height: 60px;
    justify-content: center;
    border: none;
  }
}
.headerIconButton {
  height: 24px;
  .buttonText {
    display: none;
  }
  @include mixins.vp-767 {
    position: absolute;
    left: 24px;
    padding: 0 6px;
    color: var(--light-100);
    height: 36px;
    background: transparent;
    .buttonText {
      display: block;
    }
    .iconWrapper {
      display: none;
    }
  }
}
.title {
  font-size: var(--font-size-xl);
  @include mixins.vp-767 {
    flex-direction: column;
  }
}
.modalContent {
  display: flex;
  gap: 24px;
  flex: 1 1 0;
  min-height: 0;
  overflow: hidden;
  @include mixins.vp-767 {
    flex-direction: column;
    overflow-y: auto;
  }
}
.modalImage {
  flex: 1;
  min-width: 0;
  position: relative;
  overflow: hidden;
  @include mixins.vp-767 {
    flex: none;
    height: 264px;
  }
}
.postImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mixins.vp-767 {
    padding: 0 45px;
  }
  @include mixins.down(500px) {
    padding: 0 24px;
  }
}
.updatePanel {
  flex: 1;
  padding-right: 24px;
  @include mixins.vp-767 {
    padding: 0 15px;
    flex: none;
  }
}
.descriptionField {
  max-width: 100%;
  width: 100%;
}
.descriptionField > div {
  width: 100%;
  height: 120px;
  @include mixins.vp-767 {
    height: 96px;
  }
}

.descriptionField textarea {
  width: 100%;
  border: 1px solid var(--dark-100);
}
.authorBlock {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin: 24px 0;
  @include mixins.vp-767 {
    margin: 0;
  }
}
.avatarPlaceholder {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: var(--dark-100);
}
.userName {
  margin: 0;
}
.saveChangesButton {
  position: absolute;
  right: 24px;
  bottom: 24px;
  height: 36px;
  .save {
    display: none;
  }
  @include mixins.vp-767 {
    right: 0;
    bottom: auto;
    top: 12px;
    padding: 0 6px;
    background-color: transparent !important;
    color: var(--accent-500) !important;
    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }
    .save {
      display: block;
    }
    .saveChanges {
      display: none;
    }
  }
}

.loaderState {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
