.content {
  max-width: 492px;
  width: 100%;
  background-color: var(--dark-300);
  border: 1px solid var(--dark-100);
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  padding: 0 16px;
  border-bottom: 1px solid var(--dark-100);
}
.title {
  font-size: var(--font-size-xl);
}
.close {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.close:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
