.container {
  width: 100%;
  height: 60px;
  padding: 12px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--dark-300);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.bellIcon {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
}

.bellIcon svg {
  display: block;
  width: 100%;
  height: 100%;
}
