.container {
  width: 100%;
  height: 60px;
  padding: 12px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--dark-300);
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.logo:hover {
  color: var(--light-700);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}
