@use '@/shared/styles/mixins.scss' as mixins;

.publicPage {
  padding: 35px 154px 0;
}

@include mixins.vp-1023 {
  .publicPage {
    padding: 32px 40px 0;
  }
}

@include mixins.vp-767 {
  .publicPage {
    padding: 28px 25px 0;
  }
}

@include mixins.vp-479 {
  .publicPage {
    padding: 24px 15px 0;
  }
}
