@import '@/shared/styles/variables.scss';

.page {
  min-height: calc(100dvh - 62px);
  display: flex;
}

.content {
  flex: 1;
  padding: 36px 60px 0 24px;
}

.publicPage {
  padding: 24px 154px 0;
}

@media (max-width: $vp-1024) {
  .publicPage {
    padding: 24px 40px 0;
  }
}

@media (max-width: $vp-768) {
  .content {
    padding: 24px 16px calc(24px + 60px + env(safe-area-inset-bottom));
  }

  .publicPage {
    padding: 24px 25px 0;
  }
}

@media (max-width: $vp-480) {
  .publicPage {
    padding: 20px 15px 0;
  }
}
