.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.avatar {
  flex-shrink: 0;
  align-self: flex-start;
}

.text {
  margin: 0;
}

.like {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  align-self: flex-start;
  margin-left: 8px;
}
