@import '@/shared/styles/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  margin: 0;
}

@media (max-width: $vp-768) {
  .container {
    margin-bottom: 6px;
  }

  .container .button {
    display: none;
  }
}

@media (max-width: $vp-480) {
  .container {
    justify-content: flex-start;
  }

  .title {
    text-align: left;
  }
}
