@import '@/shared/styles/variables.scss';

.container {
  width: 100%;
  height: 60px;
  padding: 12px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--dark-300);
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.logo:hover {
  color: var(--light-700);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
}

.iconButton {
  width: 36px;
  height: 36px;
}

.iconButton:focus-visible {
  box-shadow: inset 0 0 0 2px var(--accent-500);
  border-radius: 2px;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.bellIcon {
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
}

.bellIcon svg {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: $vp-768) {
  .container {
    padding: 12px 15px;
  }

  .actions {
    gap: 24px;
  }

  .iconButton {
    width: 24px;
    height: 24px;
  }
}
