.container {
  height: 108px;
  padding: 11px 23px 7px 24px;
  border-top: 1px solid var(--dark-100);
  border-bottom: 1px solid var(--dark-100);
}

.actions {
  display: flex;
  justify-content: space-between;
}

.mainActions {
  display: flex;
  gap: 24px;
}

.liked {
  display: flex;
  gap: 12px;
}

.actions + .liked {
  padding-top: 20px;
}

.actions + .postInfo {
  padding-top: 20px;
}

.likedText {
  margin: 0;

  span {
    font-weight: var(--font-weight-bold);
  }
}

.postInfo {
  margin: 5px 0 0;
  display: flex;
  color: var(--light-900);
}

.likedIcon {
  fill: var(--danger-500);
}
