@import '@/shared/styles/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 294px;
  margin-block-end: 31px;

  & .button {
    width: 100%;
  }

  & .title {
    text-align: center;
    margin-block-start: 35px;
    margin-block-end: 19px;
  }

  & .description {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 30px;
  }
}

@media (max-width: $vp-480) {
  .image {
    width: 330px;
    height: 246px;
  }
  .container {
    & .title {
      margin-block-start: 12px;
      margin-block-end: 5px;
      font-size: var(--font-size-l);
    }
  }
}
