.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 294px;
  margin-block-end: 31px;

  & .title {
    text-align: center;
    margin-block-start: 35px;
    margin-block-end: 19px;
  }

  & .description {
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 30px;
  }
}
