.formWrapper {
  margin-top: 22px;
  box-sizing: border-box;
  width: 100%;
}

.checkboxRow {
  display: flex;
  gap: 10px;
  align-self: center;
  margin-bottom: 20px;
  justify-content: center;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 20px;
}

.submitButton.submitButton {
  width: 100%;
  min-width: 0;
  margin: 3px 0;
}

.checkBoxLink {
  color: var(--accent-300) !important;
}
