.formWrapper {
  padding: 24px;
  width: 378px;
  background: var(--dark-500);
  border: 1px solid var(--dark-300);
  border-radius: 2px;
  margin-inline: auto;
  margin-top: 16px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(330px, 100%);
  margin-inline: auto;
}

.title {
  margin: 0 0 13px;
}

.inputField {
  width: 330px;
}

.checkboxRow {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: center;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 18px 0;
}

.formFields .Input {
  width: 330px;
}

.submitButton {
  width: 100%;
}

.checkBoxLink {
  color: var(--accent-300) !important;
}

.footerInfo {
  padding-bottom: 5px;
  margin: 0;
}

.actions {
  margin-bottom: 18px;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.footerBtn {
  min-width: 0;
  height: auto;
  padding: 0;
}

.footerBtn,
.footerBtn:link,
.footerBtn:visited {
  color: var(--accent-500);
}

.footerBtn:hover {
  color: var(--light-100) !important;
}
