.container {
  min-height: calc(100vh - 60px);
  padding: 36px 64px 72px 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;

  @media (max-width: 768px) {
    padding: 17px 15px 24px;
  }

  .backButton {
    width: 24px;
    height: 24px;
    padding: 0;
    position: absolute;
    left: 15px;
    top: 17px;
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
}
.profileSettingsTitle {
  display: none;
  margin: 0 auto 19px;
  @media (max-width: 768px) {
    display: block;
  }
}
